src/main/app/requesterwithactivemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61716" validateConnections="true" doc:name="Active MQ"/>

 <flow name="SendPayloadToActiveMQ" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Sendmessage" allowedMethods="POST" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
 <set-payload value="#[payload]" doc:name="Set Payload"/>
 <jms:outbound-endpoint doc:name="JMS" queue="sadik" connector-ref="Active_MQ"/>
 </flow>


<flow name="CountRequester" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/GetMessage" allowedMethods="GET" doc:name="HTTP"/>
        <mulerequester:request-collection resource="jms://sadik" doc:name="Mule Requester" />
        <object-to-string-transformer doc:name="Object to String"/>
 <logger level="INFO" doc:name="Logger" message="Payload: #[payload]"/>
    </flow>

</mule>
